extends layout

block content
  header.welcome
    h1.text-center 
      | Hi, you've reached Bakker Labs.
      br
      |How may I help you?
    
  #contact-wrapper
    .container
      .row
        include partials/_contact-form
        
  .container.information
    .row
      .col-md-8
        #map
        
      .col-md-4.contact-details
        h4 Get in touch
        p Please don't hestitate contacting me at: #[a(href="mailto:hello@bakkerlabs.nl") hello@bakkerlabs.nl]. 
          | I'll be happy to schedule a meeting or help you with any questions you might have.
          br
          .s-grid
            .fifth
              p &nbsp;
            .fifth
              a(href="https://twitter.com/bakkerlabs")
                i.fa.fa-twitter &nbsp;
            .fifth
              a(href="https://facebook.com/bakker.labs")
                i.fa.fa-facebook &nbsp;
            .fifth
              a(href="https://instagram.com/bakkerlabs")
                i.fa.fa-instagram &nbsp;
  .footer
    .container
      .row.footer
        hr
        p
          small &copy; Bakker Labs 2015-2016. All rights reserved. 
          
